
body {
    font-size: 14px;
    line-height: 24px;
    font-family: "PT Sans Narrow", bold, "Arial", sans-serif;
    text-transform: uppercase;
    background-color: #000000;
}

h1 {
    font-size: 30px;
    line-height: 42px;
}

h2 {
    font-size: 30px;
    line-height: 42px;
}

